LIDARR_URL=https://lidarr.example.com
LIDARR_API_KEY=your_lidarr_api_key

RADARR_URL=https://radarr.example.com
RADARR_API_KEY=your_radarr_api_key

SONARR_URL=https://sonarr.example.com
SONARR_API_KEY=your_sonarr_api_key

# Set to True or False to toggle SSL certificate verification
ARR_SSL_VERIFY=False
